h3 {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 0;
  margin-bottom: 0;
}

p {
  text-align: center;
  margin-top: 10px;
}

form {
  text-align: center;
}

input {
  padding: 15px 25px;
}

button {
  background-color: green;
  color: white;
  border: none;
  padding: 12px 40px;
  font-weight: 700;
}
